body {
  background: rgb(255,228,225);
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 15px
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 30px
}

.hi {
  font-family: 'Satisfy', cursive;
  font-size: 100px
}

.description {
  font-size: 35px
}
